/* Admin Menu Editor CSS file */  

.ws_main_container {
	margin:  2px;
	width: 302px;
	min-height: 30px;
	float: left;
	display:block;
	border: 1px solid #cdd5d5;
	padding: 4px;
}

.ws_main_button {
	clear: both;
	display: block;
	margin: 4px;
	margin-left: auto;
	margin-right: auto;
	width: 120px;
	padding: 4px !important;
}

.ws_container {
	display: block;
	width: 290px;
	padding : 3px;
	margin: 2px;
	border: 1px solid #a9badb;
	background-color: #bdd3ff;
}

.ws_active {
	background-color : #8eb0f1 !important; /* make sure this overrides ws_menu_separator */ 
}

#ws_menu_box {
}

#ws_submenu_box {
}

.ws_menu {
}

.ws_menu_separator {
	background-color: #f0f0f0;
}

.ws_submenu {
	background-color: #f0fafa;
	min-height: 2em;
}


.ws_item_head {
	padding-left: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	cursor: default;
}

.ws_item_title {
}

.ws_edit_link {
	float: right;
	margin-right: 0px;
	cursor: pointer;
	display:block;
	height: 18px;
	width: 40px;
	background-image: url('images/bullet_arrow_down2.png'); 
	background-repeat: no-repeat;
	background-position: center;
}
a.ws_edit_link:hover {
	background-color: #ffffd0;
	background-image: url('images/bullet_arrow_down2.png');
	background-repeat: no-repeat;
	background-position: center;
}

.ws_edit_link_expanded {
	background-color: #ffffd0;
	border-bottom: none;
	border-color: #ffffd0;
	background-image: url('images/bullet_arrow_down2.png');
	background-repeat: no-repeat;
	background-position: center;
}

/* Menu/menu item flags */
.ws_flag_container {
	float: right;
	margin-right: 4px;
}

.ws_flag {
	display: block;
	float: right;
	width: 16px;
	height: 16px;
	margin-left: 4px;
	background-repeat: no-repeat;
}

/* user-created items */
.ws_custom_item_flag {
	background-image: url('images/page_white_add.png');
}

/* items not present in the default menu */
.ws_missing_flag {
	background-image: url('images/plugin_error.png');
}

/* unused items - those that are in the default menu but not in the custom one */
.ws_unused_flag {
	background-image: url('images/plugin_add.png');
}

/* hidden items */
.ws_hidden_flag {
	background-image: url('images/plugin_disabled.png');
}

/* These classes could be used to apply different styles to items depending on their flags */
.ws_missing { } 
.ws_custom_item { }
.ws_hidden { }
.ws_unused { }


.ws_item { }

.ws_editbox {
	display: block;
	background-color: #ffffd0;  
	padding: 4px;
}

/* the reset-to-default button */
.ws_reset_button {
	font-size: smaller;
	margin : 1px;
	cursor: pointer;
}

.ws_editbox input[type="text"] {
	width: 220px;
}

.ws_input_default {
	color: gray;
}

.ws_edit_field {
	margin-bottom: 8px;
}

.ws_toolbar {
	display: block;
	width: 290px;
	height: 32px;
}

.ws_button {
	display: block;
	margin: 2px;
	padding: 4px;
	border: 1px solid #c0c0e0;
	float: left;
}

a.ws_button:hover {
	background-color: #d0e0ff;
}
